<app-navbar></app-navbar>
<div class="main">
  <section class="main__home">
    <app-home></app-home>
  </section>
  <section class="main__content">
    <app-aboutme id="aboutme"></app-aboutme>
  </section>
  <section class="main__content">
    <app-experience id="experience"></app-experience>
  </section>
  <section class="main__content">
    <app-education id="education"></app-education>
  </section>
  <section class="main__content">
    <app-project id="project"></app-project>
  </section>
</div>
<app-footer></app-footer>
<div class="toTop" (click)="scrollToTop()" [ngClass]="{ 'show-scrollTop': windowScrolled }">
  <button mat-fab color="accent" matTooltip="To the Top" matTooltipPosition="left">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>
</div>